// GENERAL STYLES =======================
.page {
    padding-top: 900px;
}
.backgr-color {
    background-color: #e5e5e5;
}
.btn {

}
.title {

}


// SECTION HOME 01 ======================

.home {
    background-color: #e5e5e5;
    &__container {
    }
}
.home__backgr {
	position:fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}


// SECTION HOME 01 =======================



// SECTION STORE 02 ======================



// SECTION CATEGORIES 03 =================



// SECTION BRANDS 04 =====================



// SECTION TRYAPP 05 =====================



// SECTION TESTIMONIALS 01 ===============



// SECTION APPSTORE 01 ===================


