// GENERAL STYLES =======================
.page {
    
}
.backgr-color {
    background-color: #e5e5e5;
}
.btn {
    padding: 12px 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 25%);
}
.btn-white-orange {
    color: white;
    background-color: #FF6428;
    transition: all 0.2s linear;
}
.btn-white-orange:hover {
    color: white;
    background-color: #d15726;
}
.btn-black-white {
    color: black;
    background-color: white;
    transition: all 0.2s linear;
}
.btn-black-white:hover {
    color: black;
    background-color: rgb(228, 228, 228);
}
.title {
    font-size: 44px;
    font-weight: 600;
}


// SECTION HOME 01 ======================
.home {
    &__backgr {
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2;
    }
    &__container {
        position: relative;
        width: 100%;
    }
    &__body {
        position: absolute;
        top: 120px;
        left: 15px;
        margin-top: 200px;
    }
    &__title {
        color: white;
        font-size: 58px;
        font-weight: 600;
        line-height: 70px;
        width: 601px;
    }
    &__title span {
        color: #FF6428;
    }
    &__text {
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        width: 400px;
        padding-top: 40px;
    }
    &__block {
        padding-top: 35px;
    }
}
.home-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 315px;
    &__btn {
    }
    &__gstore-link {
    }
    &__gstore {
    }
    &__appstore-link {
    }
    &__appstore {
    }
}


// SECTION STORE 02 ======================
.store {
    margin-top: 850px;
    padding-bottom: 200px;
    &__container {
        position: relative;
        padding-top: 200px;
    }
    &__logo {
        position: absolute;
        top: -40px;
        right: 30px;
    }
    &__title {
        text-align: center;
        padding-bottom: 80px;
    }
    &__title span {
        color: #FF6428;
    }
    &__block {
    }
}
.newboard {
    margin-bottom: 85px;
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__title-more {
        font-size: 20px;
        font-weight: 500;
        color: #868686;
    }
    &__title-more:hover {
        color: #5a5a5a;
    }
    &__cards {
    }
}
.card {
    display: flex;
    gap: 20px;
    &__body {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        max-width: 376px;
        height: 100%;
        min-height: 295px;
        padding: 15px 15px 0 15px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 4px rgb(0 0 0 / 25%);
    }
    &__body:hover .card__icon {
        display: block;
    }
    &__body:hover .card__footer {
        display: flex;
    }
    &__body a {
        display: block;
    }
    &__link {
    }
    &__descrp {
        padding-top: 10px;
    }
    &__icon {
        display: none;
        position: absolute;
        top: 19px;
        right: 25px;
        animation-name: icon-anim;
        animation-duration: 0.2s;
    }
    @keyframes icon-anim {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    &__icon-wrapper {
    }
    &__img {
       width: 100%;
       transition: all 0.7s linear;
    }
    &__img:hover {
        transform: scale(1.03);
    }
    &__title {
        font-size: 16px;
        font-weight: 500;
        color: #121212;
        padding-bottom: 7px;
    }
    &__price {
        font-weight: 1400;
        color: #666666;
    }
    &__footer {
        display: none;
    }
}
.card-btn {    
        position: absolute;
        bottom: -62px;
        left: 0;   
        justify-content: space-between;
        align-items: center;
        width: 376px;
        padding: 10px;
        background-color: #F0F0F0;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 9px 25px 4px rgb(0 0 0 / 25%);
        animation-name: card-btn-anim;
        animation-duration: 0.3s;
    @keyframes card-btn-anim {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__cart {
        padding: 12px 42px;
    }
    &__watch {
        padding: 12px 21px;
    }
}
.topsale {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__title-more {
        font-size: 20px;
        font-weight: 500;
        color: #868686;
    }
    &__title-more:hover {
        color: #5a5a5a;
    }
    &__cards {
    }
}


// SECTION CATEGORIES 03 =================
.categories {
    padding-bottom: 200px;
    &__container {
        text-align: center;
    }
    &__title {
        padding-bottom: 70px;
    }
    &__title span {
        color: #FF6428;
    }
    &__body {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 10px;
    }
}
.categories-card {
    &__body {
        position: relative;
        width: 220px;
        height: 280px;
        border-radius: 20px;
    }
    &__link {
    }
    &__img {
        width: 100%;
        height: auto;
        transition: all 0.5s linear;
    }
    &__img:hover {
        transform: scale(1.05);
    }
    &__dscrp {
        position: absolute;
        bottom:30px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
}


// SECTION BRANDS 04 =====================
.brands {
    padding-bottom: 200px;
    &__container {
        text-align: center;
    }
    &__title {
        padding-bottom: 75px;
    }
    &__title span {
        color: #FF6428;
    }
    &__body {
        display: grid;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }
    &__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__img {
        
    }
}


// SECTION TRYAPP 05 =====================
.tryapp {
        position: relative;
        height: 750px;
        background-color: rgba(0, 0, 0, 0.79);
    &__backgr {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 150%;
        z-index: -1;
    }
    &__container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1170px;
    }
    &__title {
        text-align: center;
        padding-top: 200px;
        color: white;
    }
    &__title span {
        color: #FF6428;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        padding-top: 120px;
    }
    &__block {
    }
}
.tryapp-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__wrapper {
        width: 72px;
        padding-bottom: 40px;
    }
    &__img {
        width: 100%;
    }
    &__title {
        color: white;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 12px;
    }
    &__text {
        width: 230px;
        color: #666666;
        font-weight: 400;
        line-height: 21px;
    }
}


// SECTION TESTIMONIALS 01 ===============
.testimonials {
    padding-top: 200px;
    padding-bottom: 240px;
    &__container {
    }
    &__title {
        padding-bottom: 120px;
        text-align: center;
    }
    &__title span {
        color: #FF6428;
    }
    &__slider {
    }
    &__wrapper {
    }
    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__img-wrapper {
        width: 100%;
        max-width: 407px;
        height: 100%;
        max-height: 341px;
    }
    &__img {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    &__descrp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 524px;
        min-height: 285px;
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: #666666;
        padding-bottom: 25px;
    }
    &__position-block {
    }
    &__name {
        font-weight: 600;
        font-size: 24px;
        color: black;
        padding-bottom: 19px;
    }
    &__profession {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #868686;
    }
}


// SECTION APPSTORE 01 ===================
.appstore {
    padding-bottom: 220px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__downld {
    }
    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 67px;
        padding-bottom: 40px;
    }
    &__title span {
        color: #FF6428;
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__link {
        cursor: pointer;
    }
    &__gstrore {
    }
    &__appstrore {
    }
    &__img-wrapper {
        width: 100%;
        max-width: 568px;
        height: 100%;
        max-height: 533px;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:1600px) {
    .tryapp__backgr {
        width: 300%;
    }
}

@media (max-width:1200px) {
    .home__backgr {
        width: 270%;
    }
    .card {
        display: flex;
		&__body {
            display: flex;
            padding: 0;
		}
        &__body:hover .card__icon {
            display: none;
        }
		&__icon {
            display: none;
		}
		&__img {
            padding: 35px 15px 30px;
		}
		&__descrp {
            padding: 0 15px;
		}
    }
    .card-btn {
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        bottom: -15px;
        width: 100%;
        animation: none;
    }
}

@media (max-width:1024px) {
    .home {
        &__backgr {
        width: 270%;
        left:30%;
        }
        &__body {
            top: 0px;
        }
    }
    .store {
        margin-top: 600px;
    }
    .testimonials {
        &__slide  {
            column-gap: 20px;
        }
    }
    .appstore {
        &__title{
            max-width: 450px;
            font-size: 40px;
            line-height: 1.5;
        }
        &__buttons {
            flex-direction: column;
            align-items: flex-start;
        }
    }

}
@media (max-width:1024px) {
    .testimonials__img {
        max-width: 350px;
    }
    .appstore {
        &__title{
            max-width: 450px;
            font-size: 34px;
            line-height: 1.3;
        }
       
    }
    .categories-card {
        &__dscrp {
            bottom: 65px;
        }
    }
}
@media (max-width:780px) {
    .title {
        font-size: 40px;
    }
    .home {
        &__backgr {
        width: 450%;
        left:20%;
        }
        &__body {
            top: -50px;
        }
        &__title {
            font-size: 48px;
        }
    }
    .store {
        padding-bottom: 100px;
        &__container {
        padding-top: 100px;
        }
    }
    .card__body:last-child {
        display: none;
    }
    .categories {
        padding-bottom: 100px;
    }
    .brands__block {
        flex-wrap: wrap;
        gap: 20px;
    }
    .tryapp {
        height: 800px;
        &__backgr {
            width: 800%;
            left: 30%;
        }
        &__title {
            padding-top: 60px;
        }
        &__body {
            padding-top: 80px;
            flex-direction: column;
        }
    }
    .testimonials {
        padding-top: 100px;
        padding-bottom: 140px;
        &__title {
            padding-bottom: 80px;
        }
        &__wrapper {
            height: 600px;
        }
        &__slide {
            flex-direction: column;
            gap: 30px;
        }
    }
    .categories-card {
            display: flex;
            flex-direction: column;
            gap: 30px;
        &__body {
            
        }
        &__link {
        }
        &__img {
           
        }
        &__img:hover {
           
        }
        &__dscrp {
            bottom:30px;
        }
    }
    .appstore {
        &__container {
            flex-direction: column;
            gap: 50px;
       }
       &__buttons {
        flex-direction: row;
       }
    }
}
@media (max-width:479.98px) {
    .title {
        font-size: 28px;
    }
    .home {
        &__backgr {
        width: 600%;
        left:-30%;
        }
        &__body {
            top: -70px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            font-size: 34px;
            width: 350px;
            line-height: 1.2;
        }
        &__text {
            width: 320px;
        }
        &__block {
            gap: 20px;
            width: 290px;
        }
    }
    .store {
        margin-top: 500px;
        padding-bottom: 60px;
        &__container {
        padding-top: 60px;
        }
        &__title {
            padding-bottom: 40px;
        }
    }
    .newboard {
        &__head {
            margin-bottom: 20px;
        }
        &__title {
            font-size: 16px;
        }
        &__title-more {
            font-size: 16px;
        }
    }
    .topsale {
        &__head {
            margin-bottom: 20px;
        }
        &__title {
            font-size: 16px;
        }
        &__title-more {
            font-size: 16px;
        }
    }
    .newboard__cards, .topsale__cards {
        flex-direction: column;
        align-items: center;
    }
    .card__body {
        margin-top: 20px;
    }
    .card__body:last-child {
        display: flex;
    }
    .categories__title {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .brands {
        padding-bottom: 100px;
        &__title {
        padding-bottom: 40px;
        }
    }
    .testimonials {
        &__container {
            height: 650px;
        }
        &__title {
            padding-bottom: 50px;
        }
        &__slide {
            gap: 20px;
            padding-bottom: 50px;
        }
        &__img-wrapper {
            width: 280px;
        }
        &__descrp {
            min-height: 210px;
        }
		&__text {
            font-size: 19px;
            line-height: 1.4;
            text-align: center;
           padding: 0 0 10px;
		}
		&__position-block {
            text-align: center;
		}
		&__name {
            font-size: 20px;
            padding-bottom: 10px;
		}
		&__profession {
            font-size: 14px;
		}
}
.swiper-pagination {
    left: 20%;
    top: 520px;
}
.appstore {
    padding-bottom: 100px;
    &__container {
    }
    &__downld {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__title {
    }
    &__buttons {
        flex-direction: column;
        align-items: center;
    }
    &__link {
    }
    &__gstrore {
    }
    &__appstrore {
    }
    &__img-wrapper {
    }
    &__img {
    }
}
}
@media (max-width:321px) {
    
    .home {
        &__body {

        }
        &__title {
            font-size: 30px;
        }
        &__block {
            gap: 10px
        }
    }
    
    
    
}
